/**
 * @author Basit (i@basit.me || http://Basit.me)
 * 
 * Online Quran Project
 * http://GlobalQuran.com/
 *
 * Copyright 2011, imegah.com
 * Simple Public License (Simple-2.0)
 * http://www.opensource.org/licenses/Simple-2.0
 * 
 */
@charset "utf-8";
/* CSS Document */

#globalHeader, #infoSidebar, #globalFooter, .tajweedQuickHelp {
	display:none;
}
#quranContentArea  {
	width:98%;
	position:absolute;
	top: 0px;
	padding: 4px;
}