/**
 * all the scrolls are here
 */

/***** Recitor scroll */
#recitor .sf-scroll-up, #recitor .sf-scroll-dn {	
	width:			18px;
	height:			15px;
	margin:0 auto;
}
#recitor .sf-scroll-up:hover, #recitor .sf-scroll-dn:hover {	
}
#recitor .sf-uparrow,#recitor .sf-dnarrow, #recitor .sf-noarrow {
	margin:			0 auto;
	width:			10px;
	height:			15px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../img/updn-arrows-666666.png') no-repeat 0 0;
}
#recitor .sf-dnarrow {
	background-position: -10px -100px;
	
}
#recitor .sf-noarrow {
	background-position: -10px -50px;
	
}

/******* Ribbon Scroll */
.ribbon .sf-scroll-up, .ribbon .sf-scroll-dn {	
	width:			18px;
	height:			10px;
	
}
.ribbon .sf-scroll-up:hover, .ribbon .sf-scroll-dn:hover {	
}
.ribbon .sf-uparrow,.ribbon .sf-dnarrow, .ribbon .sf-noarrow {
	margin:			0 auto;
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../img/updn-arrows-666666.png') no-repeat 0 0;
}
.ribbon .sf-dnarrow {
	background-position: -10px -100px;
}
.ribbon .sf-noarrow {
	background-position: -10px -50px;
}