@charset "utf-8";
/* CSS Document */

#globalHeader, #infoSidebar, #globalFooter, .tajweedQuickHelp {
	display:none;
}
#contentArea  {
	width:98%;
	position:absolute;
	top: 0px;
	padding: 4px;
}