.quran {
	width: 1112px;
	margin:0 auto;
}

.quran-book  a{
	cursor:pointer;
}

.book{
	background-image:url(../img/leftbookback.png);	
	background-position: left top, right top;	
	background-repeat:no-repeat;	
	width:1112px;
	height:928px;
	margin:0 auto;
	-webkit-transition:margin-left 0.2  s;
	-moz-transition:margin-left 0.2s;
	-ms-transition:margin-left 0.2s;
	-o-transition:margin-left 0.2s;
	transition:margin-left 0.2s;
}

.book .page-wrapper{	
	-webkit-perspective:2000px;
	-moz-perspective:2000px;
	-ms-perspective:2000px;
	-o-perspective:2000px;
	perspective:2000px;
}

.book .hard.front, .book .hard.back {
	background-image:url(../img/frontcover.png)
}

.book .hard.inside.right {
	background-image:url(../img/pbr.png)
}
.book .hard.inside.left {
	background-image:url(../img/pbl.png)
}

.book .page{
	background-image:url(../img/pageR1.png);
}

.book .odd{
	background-image:url(../img/pageL1.png);	
}



.book .hard{	
	/*-webkit-box-shadow:inset 0 0 5px #666;
	-moz-box-shadow:inset 0 0 5px #666;
	-o-box-shadow:inset 0 0 5px #666;
	-ms-box-shadow:inset 0 0 5px #666;
	box-shadow:inset 0 0 5px #666;*/
	font-weight:bold;
}

/*
.book .odd .pagetop{
	margin-left:70px; 
	margin-top:32px; 
	margin-bottom:27px;
	width:444px;
	height:20px;
	font-size:25px; 
	display:block;

}
.book .odd 	.pagecontent{
	overflow:hidden; 
	margin-left:100px;
	width:390px;
	height:500px;
	align:left;
}
.book .odd .pagebottom{
	margin-left:70px; 
	margin-top:25px;
	width:440px;
	height:30px;
}
.book .odd .pagebottom .share{
	background-image:url(../img/sharing.png);	
	margin-left:0px; 
	margin-top:30px;
	width:26px;
	height:22px;
	cursor:pointer;
}
.book .even .pagebottom .share{
	background-image:url(../img/sharing.png);	
	margin-left:410px; 
	margin-top:30px;
	width:26px;
	height:22px;
	cursor:pointer;
}
.book .even .pagetop{
	 margin-left:30px; 
	 margin-top:32px; 
	 margin-bottom:27px;
	 width:444px;
	 height:20px;
	 font-size:25px; 
	 display:block;
	
}
.book .even .pagecontent{
	 overflow:hidden; 
	 margin-left:60px;
	 width:390px;
	 height:500px;
}
.book .even .pagebottom{
	margin-left:40px; 
	margin-top:25px;
	width:430px;
	height:30px;
}
*/