
.sample-flipbook{
	background-image:url(../images/leftbookback.png);	
	background-position: left top, right top;	
	background-repeat:no-repeat;	
	width:1110px;
	height:876px;
	margin:0 auto;
	-webkit-transition:margin-left 0.2  s;
	-moz-transition:margin-left 0.2s;
	-ms-transition:margin-left 0.2s;
	-o-transition:margin-left 0.2s;
	transition:margin-left 0.2s;
}

.sample-flipbook .page{
	background-image:url(../images/pageR.png);
}

.sample-flipbook .page-wrapper{	
	-webkit-perspective:2000px;
	-moz-perspective:2000px;
	-ms-perspective:2000px;
	-o-perspective:2000px;
	perspective:2000px;
}

.sample-flipbook .hard{	
	//-webkit-box-shadow:inset 0 0 5px #666;
	//-moz-box-shadow:inset 0 0 5px #666;
	//-o-box-shadow:inset 0 0 5px #666;
	//-ms-box-shadow:inset 0 0 5px #666;
	//box-shadow:inset 0 0 5px #666;
	font-weight:bold;
}

.sample-flipbook .odd{
	background-image:url(../images/pageL1.png);	
}
.sample-flipbook .odd #pagetop{
	margin-left:70px; 
	margin-top:32px; 
	margin-bottom:27px;
	width:444px;
	height:20px;
	font-size:25px; 
	display:block;

}
.sample-flipbook .odd #pagecontent{
	overflow:hidden; 
	margin-left:100px;
	width:390px;
	height:710px;
	align:left;
}
.sample-flipbook .odd #pagebottom{
	margin-left:70px; 
	margin-top:25px;
	width:440px;
	height:30px;
}
.sample-flipbook .odd #pagebottom .share{
	background-image:url(../images/sharing.png);	
	margin-left:0px; 
	margin-top:30px;
	width:26px;
	height:22px;
	cursor:pointer;
}
.sample-flipbook .even #pagebottom .share{
	background-image:url(../images/sharing.png);	
	margin-left:410px; 
	margin-top:30px;
	width:26px;
	height:22px;
	cursor:pointer;
}
.sample-flipbook .even #pagetop{
	 margin-left:30px; 
	 margin-top:32px; 
	 margin-bottom:27px;
	 width:444px;
	 height:20px;
	 font-size:25px; 
	 display:block;
	
}
.sample-flipbook .even #pagecontent{
	 overflow:hidden; 
	 margin-left:60px;
	 width:390px;
	 height:710px;
}
.sample-flipbook .even #pagebottom{
	margin-left:40px; 
	margin-top:25px;
	width:430px;
	height:30px;
}

.sample-flipbook .even{
	background-image:url(../images/PageR1.png);	
}

