html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/background.jpg) no-repeat  ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.copyright{
	display:block; 
	color:#92948D;
}
.leftMenu{
	cursor:pointer;
	//width:65px; 
	height:250px;
	z-index:1;
	position:absolute;			
}
.stackleft{
	background: url(../img/pagestackleft.png) repeat-x;	
	position:absolute;			
	height:827px;	
	z-index:1;
}
.stackright{
	background: url(../img/pagestackleft.png) repeat-x;	
	position:absolute;			
	height:824px;	
	
	z-index:1;
}
.leftArrow{
	position:absolute;
	width:72px;
	height:69px;
	z-index:100;
	cursor:pointer;
}
.rightArrow{
	position:absolute;
	width:72px;
	height:69px;
	z-index:100;
	cursor:pointer;
}
.ribbon{
	position:absolute;	
	z-index:1;
	background-image:url("../img/ribbon1.png");
	height:         854px;
	width:			55px;
	padding-top:48px;
	font-size:11px;
	line-height:20px;
}
.logo{
	padding-top:1px;
	width:300px; 
	margin:0 auto;
}
.logo .logolink{
    margin:0px 0 0 -13px;
	width:150px;	
}
.header a {
    outline: 0;
    text-decoration: none;
	font-size:14px;
}

.header a:link {
    color:#aebcb5;
	text-decoration: none;
}

.header a:visited {
    color: #aebcb5;
	text-decoration: none;
}

.header a:hover {
    color:#E8D582;
	text-decoration: none;
}


.header a:active {
    color: #aebcb5;
	text-decoration: none;
}

.leftMenu .book{
	background:url(../img/book.png);
	width:74px;
	height:59px;
	margin-left:0px;
	cursor:pointer;	
}

.leftMenu .setting{
	background:url(../img/setting.png);
	width:74px;
	margin-left:-4px;
	height:59px;
	cursor:pointer;
}
.leftMenu .zoom{
	background:url(../img/zoom.png);
	width:74px;
	margin-left:-6px;
	height:59px;
	cursor:pointer;
}
.search{
	background:url(../img/zoomback.png);
	width:260px;
	height:59px;
	margin-left:72px;
	visibility:hidden;
}
.searchButton{
	background:url(../img/zoomok.png);
	width:35px;
	height:34px;
	margin-left:215px;
	margin-top:-35px;
}
#searchText{
	font-size:15px;
	color: #979797;
    height: 32px;
	width:180px;
	margin-top:10px;
	margin-left:10px;
    padding-left: 10px;
    text-decoration: none;
    background-image: url('../img/zoomtext.png');   
    border-radius: 1px; /*up to date browsers support this, but you can add prefixes if you want*/
	vertical-align: top;
	display:inline;
}
.searchlist{
	color: #979797;
	font-size:12px;   
	width: 193px;
	border-width:1px;
	margin-top:1px;
	margin-left:10px;    
    text-decoration: none;
    background-image: url('../img/zoomlist.png');
	background-repeat:repeat-y;
	font-size:15px;
}

.searchlistitem:hover{	
	background-image: url('../img/zoommouseover.png');
	width:199px;
	height:23px;
		margin:0 auto;
		color: white
	
}
.searchlistitem{
	margin:0 auto;
	width:199px;
	height:23px;
	
}
.footer .f{ 		
    height:30px;
    width:33px;
	display:inline-block;
	background:url(../img/f2.png);
}

.footer .f:hover {
	background-image:url(../img/f1.png);   
}
.footer .t{ 
	background:url(../img/t2.png);
    height:30px;
    width:33px;
	display:inline-block;
}

.footer .t:hover{
	background-image:url(../img/t1.png);   
}
.footer .g{ 	
	background:url(../img/g2.png);
    height:30px;
    width:33px;
	display:inline-block;
}

.footer .g:hover {
	background-image:url(../img/g1.png);   
}

.quran-book .loader{
	position:absolute;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
}

.quran-book .loader i{
	background:transparent url(../img/tool/ajax-loader-large.gif) 4px 4px no-repeat;
	position:relative;
	width:100px;
	height:100px;
	display:block;
}
.quran-book:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height:0;
}

.quran-book .code{
	width:400px;
	float:left;
}
@media only screen and (min-width: 1000px) and (max-width: 1500px) {
.flipbook{
	width:555px;
	height:876px;
	margin:0 auto;
	border-width:0px;
	
	}	
.quran-book {
	width:555px;
	line-height:876px;
	float:left;	
	margin:0 auto;
}
	
}

.quran-book {
	width:1110px;
	margin:0 auto;
}

.quran-book  a{
	cursor:pointer;
}