/**
 * @author Basit (i@basit.me || http://Basit.me)
 * 
 * Online Quran Project
 * http://GlobalQuran.com/
 *
 * Copyright 2011, imegah.com
 * Simple Public License (Simple-2.0)
 * http://www.opensource.org/licenses/Simple-2.0
 * 
 */
@charset "utf-8";


noscript p { 
	margin: 10px; 
	padding: 10px; 
	border: 1px solid #cc3; 
	background: #ff9;
	font-size: 200%;
	font-weight: bold; 
}

.icon {
	width: 16px;
	height: 16px;
	background: transparent url(../img/tool/sprites.png) no-repeat 0 0;
	-background-image:url(../img/tool/sprites-8.png); /* ie6 fix */
	text-indent:-7000px;
	overflow:hidden;
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	 /* for ie6+ */
    *text-indent: 0;
    *font-size: 0px !important; /* ie fix, for showing extra padding */
    *line-height: 0;
}
.icon:hover, .icon:focus {
	text-decoration:none;
}

.closeplayer{
	 background-image:url("../img/jplayer/close.png");
	 position:absolute;
	 margin-left:-5px;
	 margin-top:-4px;
	 cursor:pointer;
	 width:17px;
 	 height:17px;
	 z-index:1;
}
#topNav {	
	position:absolute;
	overflow:visible;
	width:454px;
	height:63px;
	-width:100%; /* ie6 fix */
	*height:200px; /* ie7 fix, if drop menu extend, you have to extend the height also, caution: ayah content, surah links/buttons wont work, if put height too much TODO FIXME*/
	*overflow-y:visible; /* ie7 fix */
	*overflow-x:hidden;	
}
	#topNav ul {
		position:relative;
		margin: 0px 0px;
		padding:0;
	}
	#topNav ul ul {
		display:none;
		min-height: 100%;
		top:24px;
		padding:2px;
		position:absolute;
				
		/* shadow, border, background */
		-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
		-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
		box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=140, Color='#eeeeee')";
		/* For IE 5.5 – 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=140, Color='#eeeeee');
		border-top-width:0px;
		border-right:#F7F7F7 1px solid;
		border-bottom:#F7F7F7 1px solid;
		border-left:#F7F7F7 1px solid;
		background-color:#fff;
		z-index:2;
	}
	#topNav ul ul.active {
		display:block;
	}
	#topNav ul li {
		cursor:pointer;
	}
	#topNav ul ul li {
		display:block;
	}
	#topNav ul li {
		display:inline;		
		padding: 0px;
		margin-left: -22px;
	}
	#topNav ul #repeat .repeatOptions li{
		display:inline;		
		padding: 0px;
		margin-left:0px;
	}
	#topNav ul #recitor .recitorList{
		margin-left:20px;
		margin-top:17px;
	}
	
	#topNav ul #volume ul{
		margin-left:20px;
		margin-top:15px;
	}
	#topNav ul #repeat .repeatOptions{
		margin-left:10px;
		margin-top:15px;
	}
	#topNav ul #play {
		margin-left: 0px;
	}
	#topNav ul #recitor {
		margin-left: -5px;
	}
	#topNav ul #volume {
		margin-left: 0px;		
		margin-top: 15px;		
	}
	#topNav #repeat a{
		margin-left: 26px;		
		margin-top: 2px;		
	}
	#topNav #volume a{
		margin-left: 16px;		
		margin-top: 2px;		
	}
	#topNav #volume li{
		margin-left: 0px;
	}
	#topNav #play a {
		margin-left:27px;
		margin-top:23px;
	}
	#topNav #recitor a {
		margin-left:5px;
	}
	#topNav #recitor ul li{
		margin-left:5px;
	}
	#topNav #prevAyah a {
		margin-left:20px;
	}
	#topNav #nextAyah a {
		margin-left:25px;
	}
	#topNav #volume ul a {
		margin-left:3px;
	}
	#topNav #progressBar a {		
		margin-top:0px;
	}
	#topNav ul .dropOption .dropLink {
		height: 36px;
		line-height: 36px;
		margin: -6px 3px;
		vertical-align: middle;
		text-decoration:none;
		display: inline-block;
		*display:inline;
		zoom:1;
		cursor: pointer;
	}
	.dropLink.active, .dropLink:hover, .dropLink:focus, .dropLink:visited, .dropLink:active {
		text-decoration:none;
	}
	#topNav ul .dropOption .dropLink span, #topNav ul .dropOption .dropLink .icon {
		margin-top: 6px;
	}
	#topNav .recitor {
		margin-top: -2px;
	}
	#topNav #prevPage a, #topNav #nextPage a {
		margin:0;
	}
	#topNav #play span{
		width:16px;
		height:15px;
	}
	#topNav #prevPage a {
		margin-right:-4px;		
	}
	.rtl #topNav #prevPage a {
		margin-right:0px;
		margin-left:-4px;
	}
	#playerNav{
		background-image:url("../img/jplayer/foreground.png");
		height:63px;
		width:450px;
	}
	#playerNavBox {
		height:63px;
		width:450px;
		position:absolute;		
		background-image:url("../img/jplayer/background.png");		
	}
		.rtl #playerNavBox {
			margin-right:0px;
			margin-left: 260px;	
		}
		.smallFrame #playerNavBox {
			margin-right: 2px;
		}
		.rtl.smallFrame #playerNavBox {
			margin-right: 0px;
			margin-left: 2px;
		}
		.rtl #playerNav {
			*position:static; /* ie6+ fix */
		}
		#pageNav {
			float: right;
			z-index: 1;
		}
		.rtl #pageNav {
			float:left;
		}	
		.pageOn, .totalPages, .bold {
			font-size:120%;
			font-weight:bold;
			margin-left: 3px;
			margin-right: 6px;
		}
		.currentAyah, .sep {
			font-size:120%;
			font-weight:bold;
			margin-left: 2px;
			margin-right: 2px;
		}
		.recitorList {
			display:block;
			width: 420px;
			
		}
		.rtl .recitorList {
			position:absolute;
			right: 0;	
		}
			.recitorList li {
				float:left;
			}
			.recitorList a {
				cursor:pointer;
				display:block;
				min-width:120px;
				-width: 120px;
				height:20px;
				line-height: 1.5em;
				vertical-align: middle;			
				padding-left: 4px;
				padding-right: 4px;
				overflow:hidden;
			}
			.recitorList a:hover {
				background-color:#F2F2F2;
				text-decoration: none;
			}
			.recitorList a:focus {
				text-decoration: none;
			}
			.recitorList .txt {
				color: #333;
			}
			.recitorList a.active, .recitorList a.active:hover, .recitorList a.active:focus, .recitorList a.active:visited, .recitorList a.active:active {
				background-color: #F2F2F2;
				font-weight:bold;
			}
		.bandwidthList a {
			cursor:pointer;
			display:block;
			-width: 60px;
			height:20px;
			line-height: 1.5em;
			vertical-align: middle;			
			padding-left: 4px;
			padding-right: 4px;
			overflow:hidden;
		}
			.bandwidthList a:hover {
				background-color:#F2F2F2;
				text-decoration: none;
			}
			.bandwidthList a:focus {
				text-decoration: none;
			}
			.bandwidthList .txt {
				color: #333;
			}
			.bandwidthList a.active, .bandwidthList a.active:hover, .bandwidthList a.active:focus, .recitorList a.active:visited, .bandwidthList a.active:active {
				background-color: #F2F2F2;
				font-weight:bold;
			}
		.repeatOptions {
			
		}
			.repeatOptions li {
				height: 30px;
				white-space:nowrap;
			}
			.repeatOptions label {
				display:inline-block;
				width:70px;
			}
	#gqContent .smaller {
		font-size:120%;
	}
	#gqContent .small {
		font-size:150%;
	}
	#gqContent .medium {
		font-size:200%;
	}
	#gqContent .large {
		font-size:250%;	
	}
	#gqContent .larger {
		font-size:300%;
	}
	#gqContent .larger-x {
		font-size:400%;
	}
	#gqContent .larger-xx {
		font-size:500%;
	}
		/* quran shows smaller font, make them bigger then normal size */
		#gqContent .smaller .quranText {
			font-size:80%;
		}
		#gqContent .small .quranText  {
			font-size:110%;
		}
		#gqContent .medium .quranText {
			font-size:130%;
			font-weight: bold;
		}
		#gqContent .large .quranText  {
			font-size:135%;	
		}
		#gqContent .larger .quranText  {
			font-size:140%;
		}
		#gqContent .larger-x .quranText  {
			font-size:145%;
		}
		#gqContent .larger-xx .quranText  {
			font-size:150%;
		}
	#gqContent .bismillah {
		display:block;
		margin:auto;
		margin-bottom: 1em;
	}
	
	.ayahs {
		
	}
	.ayahs.ltr, .ayahs .ltr {
		text-align:left;
	}
	.ayahs.rtl, .ayahs .rtl {
		text-align:right;
	}
	.ayahs .ayah:hover, .ayahs .group:hover, .ayahs .mouseOver {
		background-color: #ffffee;	
	}
	.ayahs .selected, .ayahs .selected:hover {
		background-color: #f9fbff;
	}
	.single .ayah, .book .ayah {
		text-align:justify;
		display:inline;
		line-height: 1.5em;		
	}
	.single .ayahs, .book .ayahs {
		padding: .5em .2em .5em .3em;	
	}
	.book .colume {
		width: 49%;
		float: right;
		margin-left: 4px;
		margin-right: 4px;
	}
	.group {
		padding: .5em .2em .5em .3em;
	}
	.group .ayah {
		margin-bottom: 12px;
		padding: 4px;
	}
	.ltr .group .ayah {
		margin-left: 90px;
	}
	.rtl .group .ayah {
		margin-right:90px;
	}
	.ltr .ayahs .group .ayahNumber {
		float: left;
		color:#999;
		font-weight: bold;
	}
	.rtl .ayahs .group .ayahNumber {
		float: right;
		color:#999;
		font-weight: bold;
	}
	.ltr .ltr .foundin, .ltr .rtl .foundin, .foundin {
		text-align:left;
		font-size:60%;
		color:#999;
		margin-top:.5em;
		margin-bottom:.5em;
	}
		.rtl .ltr .foundin, .ltr .rtl .foundin {
			text-align:right;
		}
		.foundin .active {
			border-bottom:#999 1px dotted;
		}
		.foundin a, .foundin a:active, .foundin a:focus, .foundin a:visited {
			color:#999;
		}
		.foundin a:hover, .foundin .showAll, .foundin .hideAll {
			color:#6699cc !important;
		}
		.foundin .showAll, .foundin .hideAll {
			font-weight: bold;
		}
	a.quranID {
		width: 100px;
		display:block;
		font-size:70%;
		line-height:normal;
		color:#6699cc;
		white-space: nowrap;
	}
	.word {
		margin-left: 8px;
		margin-right: 8px;
		display:-moz-inline-stack;
		display:inline-block;
		zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
		*display: inline;
	}
	.staticWord {
		padding: .2em .3em .2em .3em;
	}
	.staticWord .first, .staticWord .second {
		text-align: center;
	}
	.staticWord:hover {
		background-color:#ffffee;
	}
	.word .first {
		display:block;
		padding-top: .2em;
		padding-bottom: .2em;
	}
	.word .second {
		display: block;	
	}
	.word .tipsWord:hover {
		cursor:help;
		color: #3B5998;
		text-decoration:overline;
	}
	.en .second {
		font-size: 20%;
	}
	

.play {
	background-position:0px -128px;
}
.play:hover, .play:focus {
	background-position:-16px -128px;
}
.play:active {
	background-position:-32px -128px;
}
.pause {
	background-position:-48px -128px;	
}
.pause:hover, .pause:focus {
	background-position:-64px -128px;
}
.pause:active {
	background-position:-80px -128px;
}
.prevAyah {
	background-position:-96px -128px;			
}
.prevAyah:hover, .prevAyah:focus {
	background-position:-112px -128px;
}
.prevAyah:active {
	background-position:-128px -128px;
}
.nextAyah {
	background-position:-144px -128px;	
}
.nextAyah:hover, .nextAyah:focus {
	background-position:-160px -128px;
}
.nextAyah:active {
	background-position:-176px -128px;
}
	.rtl .prevAyah {
		background-position:-144px -128px;
	}
	.rtl .prevAyah:hover, .rtl .prevAyah:focus {
		background-position:-160px -128px;
	}
	.rtl .prevAyah:active {
		background-position:-176px -128px;
	}
	.rtl .nextAyah {
		background-position:-96px -128px;	
	}
	.rtl .nextAyah:hover, .rtl .nextAyah:focus {
		background-position:-112px -128px;
	}
	.rtl .nextAyah:active {
		background-position:-128px -128px;
	}
.volume, .volume.full {
	background-position:-192px -128px;	
}
.volume.med {
	background-position:-208px -128px;	
}
.volume.low {
	background-position:-224px -128px;	
}
.volume.muted {
	background-position:-240px -128px;	
}
.repeat {
	background-position:-256px -128px;
}
.repeat:hover, .repeat:focus {
	background-position:-272px -128px;
}
#repeat .active {
	background-position:-288px -128px;
}
.zoomOUT {
	background-position:-16px -144px;
}
.zoomOUT:hover, .zoomOUT:focus {
	background-position:-32px -144px;
}
.zoomOUT .zoomOUT.disable, .zoomOUT .zoomOUT.disable:hover, .zoomOUT .zoomOUT.disable:focus {
	background-position: 0px -144px;
	cursor:default;
}
.zoomIN {
	background-position:-64px -144px;
}
.zoomIN:hover, .zoomIN:focus {
	background-position:-80px -144px;
}
.zoomIN .zoomIN.disable, .zoomIN .zoomIN.disable:hover, .zoomIN .zoomIN.focus {
	background-position:-48px -144px;
	cursor:default;
}
.arrowDown {
	width:7px;
	height: 7px;
	background-position:-100px -151px;
}
.prevPage {
	background-position:-112px -144px;
}
.nextPage {
	background-position:-128px -144px;
}
#prevPage .disable .prevPage {
	background-position:-144px -144px;
	cursor:default;
}
#nextPage .disable .nextPage {
	background-position:-160px -144px;
	cursor:default;
}
.prevSurah {
	background-position:-144px -144px;
}
.nextSurah {
	background-position:-160px -144px;
}
.arrowLeft3 {
	background-position:-176px -144px;
}
.arrowRight3 {
	background-position:-192px -144px;
}
	.rtl .prevSurah {
		background-position:-160px -144px;
	}
	.rtl .nextSurah {
		background-position:-144px -144px;
	}
	.rtl .arrowLeft3 {
		background-position:-192px -144px;
	}
	.rtl .arrowRight3 {
		background-position:-176px -144px;
	}
.fullScreen {
	background-position:-208px -144px;
}
.fullScreen:hover, .fullScreen:focus {
	background-position:-224px -144px;
}
.fullScreen .active {
	background-position:-240px -144px;
}
.fullScreen .active:hover, .fullScreen .active:focus {
	background-position:-256px -144px;
}
.close {
	width: 15px;
	height: 15px;
	background-position:-272px -145px;
}
.close:hover, .close:focus {
	background-position:-320px -145px;
}
.close.small {
	height: 11px;
	width: 11px;
	margin-top:1px;
	background-position:-336px -149px;
}
.close.small:hover, .close.small:focus {
	background-position:-369px -149px;
}
.book {
	background-position:-383px -144px;
}
.book .active {
	background-position:-399px -144px;
}
.tajweed {
	background-position:-416px -144px;
}
.kidsWordByWord {
	background-position:-432px -144px;
}
.keyboard {
	width: 20px;
	background-position:-448px -144px;
}
.recitor {
	width: 23px;
	height:22px;
	background-position:0px -160px;	
	margin-left:15px;
}
.recitor:hover, .recitor:focus, #recitor .active {
	background-position:-23px -160px;
}
#recitor .click {
	background-position:-46px -160px;
}
.ltr .leftBracket, #quranContentArea .ltr .leftBracket {
	height:22px;
	background-position:-80px -160px;
}
.ltr .rightBracket, #quranContentArea .ltr .rightBracket {
	height:22px;
	background-position:-96px -160px;	
}
	.rtl .leftBracket, #quranContentArea .rtl .leftBracket {
		height:22px;
		background-position:-96px -160px;	
	}
	.rtl .rightBracket, #quranContentArea .rtl .rightBracket {
		height:22px;
		background-position:-80px -160px;
	}

		
/* progress bar css */
.volumeBar {
	margin: .5em;
}
.volumePercent {
	height: 20px;
}
.progressBar {
	width: 100px;
	display:-moz-inline-stack;
	display:inline-block;
  	*display:inline;
	vertical-align:top;
	zoom:1;
	margin-top:25px;
	margin-left:30px;
}
	.buffer {
		height: 100%;
		position: absolute;
		*position: relative;
		background-color: #ddd;
		display:-moz-inline-stack;
		display:inline-block;
		*display:inline;
		vertical-align:top;
		zoom:1;
	}
	.audioLoading {
		background: url("../img/progress-bar-loader.gif");
	}

/* Component containers
----------------------------------*/
.ui-widget-content { background-color: #eeeeee/*{bgColorContent}*/; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { background-color: #3B5998/*{bgColorHeader}*/; color: #222222/*{fcHeader}*/; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background-color: #e6e6e6/*{bgColorDefault}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background-color: #dadada/*{bgColorHover}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background-color: #ffffff/*{bgColorActive}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }
.ui-widget :active { outline: none; }
.ui-state-disabled { cursor: default !important; }

/* slider */
.ui-slider { position: relative; text-align: left; cursor: pointer; border-color:#666666; border-width:1px;border-style:solid;}
.ui-slider .ui-slider-handle { position: absolute; z-index: 0; width: 1.2em; height: 1.2em; cursor: pointer; margin-left:0px; }
.ui-slider .ui-slider-range { position: absolute; z-index: 0; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.ui-slider .ui-slider-handle { width: 19px; height:19px; background-position:-305px -126px; background-color:transparent;}
.ui-slider .ui-state-hover { background-position:-324px -126px; }
.ui-slider .ui-state-active { background-position:-342px -126px; }

.ui-slider-horizontal { height: 12px; }
.ui-slider-horizontal .ui-slider-handle { top: -.4em; margin-left: -.3em !important; *top:-4px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: 12px; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.5em; *margin-left: -.3em !important; margin-bottom: -.6em !important; *left:-.8em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }


/* quran signs */
.sign {
	font-family: me_quran,meQuran,Times New Roman;
	color: #FB7600;
	/* font-size: 0.9em; TODO*/
	font-size: 70%;
}

.internal-sign {
	font-family: me_quran,meQuran,Times New Roman;
	color: green;
	/* font-size: 0.65em; TODO*/
	font-size: 70%;
}

.juz-sign {
	width: 16px;
	height: 16px;
	background-position: 0 -80px;/* TODO juz sign in images */
	display: inline-block;
	vertical-align: middle;
	margin-top: 3px;
}

/* tajweed colors */
.ghn {
    color: #FF7E1E;
}
.color.ghn {
	background-color: #FF7E1E;
}
.qlq {
    color: #DD0008;
}
.color.qlq
{
	background-color: #DD0008;
}
.qlq:hover {
    background-color: #F3A6A9;
    color: #DD0008;
    cursor: pointer;
}
.idgh_ghn {
    color: #169200;
}
.color.idgh_ghn
{
	background-color: #169200;
}
.idgh_ghn:hover {
    background-color: #9CE58E;
    color: #169200;
    cursor: pointer;
}
.idgh_w_ghn {
    color: #169200;
}
.color.idgh_w_ghn
{
	background-color: #169200;
}
.idgh_w_ghn:hover {
    background-color: #9CE58E;
    color: #169200;
    cursor: pointer;
}
.iqlb {
    color: #26BFFD;
}
.color.iqlb
{
	background-color: #26BFFD;
}
.iqlb:hover {
    background-color: #92E5FF;
    color: #0099C5;
    cursor: pointer;
}
.ikhf {
    color: #9400A8;
}
.color.ikhf
{
	background-color: #9400A8;
}
.ikhf:hover {
    background-color: #DAA6E1;
    color: #9400A8;
    cursor: pointer;
}
.ikhf_shfw {
    color: #D500B7;
}
.color.ikhf_shfw
{
	background-color: #D500B7;
}
.ikhf_shfw:hover {
    background-color: #F0A6E6;
    color: #D500B7;
    cursor: pointer;
}
.idghm_shfw {
    color: #58B800;
}
.color.idghm_shfw
{
	background-color: #58B800;
}
.idghm_shfw:hover {
    background-color: #BAE890;
    color: #58B800;
    cursor: pointer;
}
.slnt {
    color: #AAAAAA;
}
.color.slnt
{
	background-color: #AAAAAA;
}
.ham_wasl {
    color: #AAAAAA;
}
.color.ham_wasl
{
	background-color: #AAAAAA;
}
.ham_wasl:hover {
    background-color: #D7D7D7;
}
.madda_necessary {
    color: #000EBC;
}
.color.madda_necessary
{
	background-color: #000EBC;
}
.madda_obligatory {
    color: #2144C1;
}
.color.madda_obligatory
{
	background-color: #2144C1;
}
.madda_permissible {
    color: #4050FF;
}
.color.madda_permissible
{
	background-color: #4050FF;
}
.madda_normal {
    color: #537FFF;
}
.color.madda_normal
{
	background-color: #537FFF;
}
.idgh_mus {
    color: #A1A1A1;
}
.color.idgh_mus
{
	background-color: #A1A1A1;
}
.idgh_mus:hover {
    background-color: #D7D7D7;
}

/* kids word by word colors */
.wordColor1 {
	color:#006AFF;
}
.wordColor2 {
	color:#FFD800;
}
.wordColor3 {
	color:#129308;
}
.wordColor4 {
	color:#CE7706;
}
.wordColor5 {
	color:#C90404;
}
.wordColor6 {
	color:#CE0692;
}
.wordColor7 {
	color:#A624F2;
}
.wordColor8 {
	color:#6928E2;
}
.wordColor9 {
	color:#0428C9;
}
.wordColor10 {
	color:#04AFC9;
}


/* required fonts */
@font-face {
    font-family: 'me_quran';
    src: url('./..img/fonts/me_quran-webfont.eot');
    src: url('./..img/fonts/me_quran-webfont.eot?#iefix') format('embedded-opentype'),
         url('./..img/fonts/me_quran-webfont.woff') format('woff'),
         url('./..img/fonts/me_quran-webfont.ttf') format('truetype'),
         url('./..img/fonts/me_quran-webfont.svg#mequranRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '_PDMS_Saleem_QuranFont';
    src: url('./..img/fonts/pdms_saleem-webfont.eot');
    src: url('./..img/fonts/pdms_saleem-webfont.eot?#iefix') format('embedded-opentype'),
         url('./..img/fonts/pdms_saleem-webfont.woff') format('woff'),
         url('./..img/fonts/pdms_saleem-webfont.ttf') format('truetype'),
         url('./..img/fonts/pdms_saleem-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('./..img/fonts/kfc_naskh-webfont.eot');
    src: url('./..img/fonts/kfc_naskh-webfont.eot?#iefix') format('embedded-opentype'),
         url('./..img/fonts/kfc_naskh-webfont.woff') format('woff'),
         url('./..img/fonts/kfc_naskh-webfont.ttf') format('truetype'),
         url('./..img/fonts/kfc_naskh-webfont.svg#KFGQPCUthmanTahaNaskhRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Scheherazade';
    src: url('./..img/fonts/scheherazade-webfont.eot');
    src: url('./..img/fonts/scheherazade-webfont.eot?#iefix') format('embedded-opentype'),
         url('./..img/fonts/scheherazade-webfont.woff') format('woff'),
         url('./..img/fonts/scheherazade-webfont.ttf') format('truetype'),
         url('./..img/fonts/scheherazade-webfont.svg#ScheherazadeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'XB Zar';
    src: url('./..img/fonts/xb_zar-webfont.eot');
    src: url('./..img/fonts/xb_zar-webfont.eot?#iefix') format('embedded-opentype'),
         url('./..img/fonts/xb_zar-webfont.woff') format('woff'),
         url('./..img/fonts/xb_zar-webfont.ttf') format('truetype'),
         url('./..img/fonts/xb_zar-webfont.svg#XBZarRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
