
.book-sf-menu, .book-sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.book-sf-menu {
	line-height:	1.0;
	display:block;
}
.book-sf-menu ul {
	position:		absolute;
	margin-left:    72px;
	margin-top:     -26px;
	top:			-999em;
	width:			210px;
	filter:alpha(opacity=90); 
	opacity:0.9;
//	width:			10em; /* left offset of submenus need to match (see below) */
}
.book-sf-menu ul ul{
	position:		absolute;
	margin-left: 	80px;
	margin-top: 	0px;
	top:			-999em;	
	width:			210px;
	
//	width:			10em; /* left offset of submenus need to match (see below) */
}
.book-sf-menu ul ul {
	position:		absolute;
	top:			-999em;
	width:			210px;
//	width:			10em; /* left offset of submenus need to match (see below) */
}

.book-sf-menu ul li {
	
	width:			100%;
}
.book-sf-menu ul li li{
	width:			100%;
}
.book-sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.book-sf-menu li {
	float:			left;
	position:		relative;
}
.book-sf-menu a {
	display:		block;
	position:		relative;
}
.book-sf-menu li:hover ul,
.book-sf-menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
	background-color: white;
}
ul.book-sf-menu li:hover li ul,
ul.book-sf-menu li.sfHover li ul {
	top:			-999em;
	margin-left:100px;
}
ul.book-sf-menu li li:hover ul,
ul.book-sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.book-sf-menu li li:hover li ul,
ul.book-sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.book-sf-menu li li li:hover ul,
ul.book-sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.book-sf-menu {
	float:			left;
	margin-bottom:	1em;
}
.book-sf-menu a {
	/*
	border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;
	*/
	padding: 		8px 18px 8px 12px;
	text-decoration:none;
	font-size:		12px;
}
.book-sf-menu a, .book-sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	/* color:			#13a; */
	color:	#666666;
}
.book-sf-menu li li a, .book-sf-menu li li a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	/* color:			#13a; */
	color:	#666666;
}
.book-sf-menu .book {
	background-image:url("../images/book.png");
	filter:alpha(opacity=100); 
	opacity:1.0;
	width:74px;
	height:59px;
	color: #666666;
	/* background:	url("http://www.power-graphics.com/p7pmm/img/pmm_carbon_root.jpg"); */
}
.book-sf-menu .comment ul {
	position:		absolute;
	margin-left:    72px;
	margin-top:     -26px;
	top:			-999em;
	width:			210px;
	filter:alpha(opacity=90); 
	opacity:0.9;
//	width:			10em; /* left offset of submenus need to match (see below) */
}
.book-sf-menu .comment {
	background-image:url("../images/comment.png");
	filter:alpha(opacity=100); 
	opacity:1.0;
	width:74px;
	height:59px;
	margin-top: -11px;
	color: #666666;
	/* background:	url("http://www.power-graphics.com/p7pmm/img/pmm_carbon_root.jpg"); */
}

.book-sf-menu li {
	background-image:url("../images/menubackground.png");
	filter:alpha(opacity=90); 
	opacity:0.9;
	width:214px;
	height:54px;
	color: gray;
	/* background:	url("http://www.power-graphics.com/p7pmm/img/pmm_carbon_root.jpg"); */
}
.book-sf-menu li li p{
padding-left:40px;
padding-top:15px;
font-size:20px;
}
.book-sf-menu li li:hover, .book-sf-menu li li.sfHover,
.book-sf-menu a:focus, .book-sf-menu a:hover, .book-sf-menu a:active {
	background-image:url("../images/menumouseover.png");
	filter:alpha(opacity=90); 
	opacity:0.9;
	/* background-image: url("/images/03normal.png"); */
	width:214px;
	height:54px;
	outline:0;
	color: white;	
}

/*** arrows **/
.book-sf-menu a.sf-with-ul {
	padding-right: 	1.65em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.book-sf-menu .sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('arrows-666666.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.book-sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.book-sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.book-sf-menu ul a:focus > .sf-sub-indicator,
.book-sf-menu ul a:hover > .sf-sub-indicator,
.book-sf-menu ul a:active > .sf-sub-indicator,
.book-sf-menu ul li:hover > a > .sf-sub-indicator,
.book-sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: 0px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
/*
.sf-shadow ul {
	background:	url('../sf-images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
*/
