/* 195864 367E90 E6F6FC D5C9B6 766149 http://kuler.adobe.com/#themeID/1778848 */
@import url('gq.css');
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
header {
	margin-left: 30px;
}
.logo {
	font-size:36px;
}
.menu li {
	display: inline;
	margin-right:12px;
}
.sideBar {
	position:fixed;
	padding: 5px;
	padding-top: 1em;
	margin-top:2em;
	height:70%;
	width: 60px;
}
.sideBar .btn-group {
	width: 72px;
}

.sideBarMenu, .sideBarMenu2 {
	width: 300px;
	height: 100%;
	position: fixed;
	top:0px;
	margin-left: 100px;
	overflow:hidden;
	overflow-x: hidden;
	z-index:10001;
	
	background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.sideBarMenu:hover{
	overflow:auto;
	overflow-x: hidden;
}
.sideBarMenu2 {
	height: 300px;
	margin-left: 400px;
}

.sideBarMenu li, .sideBarMenu2 li {
	list-style:none;
	border-bottom: 1px solid #eee;
}
.sideBarMenu li a, .sideBarMenu2 li a {
	display:block;
	padding-top:.5em;
	padding-bottom:.5em;
	font-size:16px;
}
.sideBarMenu li a:hover, .sideBarMenu2 li a:hover {
	background-color: lightYellow;
}
.sideBarMenu li .active {
	background-color: #ccc;
}

.quranContent {
	margin-left:100px;
}
.pageInfo {
	padding: 2px 20px 2px 20px;
}
.page {
	padding: 2px;
	border: 1em groove #766149;	
	background-color: #F7E7CC;
}
.ayahs {
	padding:1em;
}

.surahTitle {
	text-align:center;
	padding: 4px;
	border: 2px solid #766149;
}
.prevSurah, .nextSurah {
	padding-right:1em;
	padding-left: 1em;
}



.mainbar {
  position:absolute;
  *position: absolute;
  *z-index: 2;
  overflow: visible;
  margin-bottom: 18px;
  top:0px;
  right:0px;
  left:0px;
  z-index: 1030;
}
.mainbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2D2D2D;  
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.mainbar .container {
  width: auto;
  padding-right:8px;
  padding-left: 8px;
}
.btn-mainbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px; 
  border-color: #fbdc81 #fbdc81 #f9c737;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}
.btn-mainbar:hover,
.btn-mainbar:active,
.btn-mainbar.active,
.btn-mainbar.disabled,
.btn-mainbar[disabled] {
  background-color: #fbdc81;
}
.btn-mainbar:active,
.btn-mainbar.active {
  background-color: #f9ce50 \9;
}
.btn-mainbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.btn-mainbar .icon-bar + .icon-bar {
  margin-top: 3px;
}
.nav-collapse.collapse {
  height: auto;
}
.mainbar {
  color: #333333;
}
.mainbar .brand:hover {
  text-decoration: none;
}
.mainbar .mainbar-text {
  margin-bottom: 0;
  line-height: 80px;
}
.mainbar .btn,
.mainbar .btn-group {
  margin-top: 25px;
}
.mainbar .btn-group .btn {
  margin-top: 0;
}
.mainbar-form {
  margin-bottom: 0;
  *zoom: 1;
}
.mainbar-form:before,
.mainbar-form:after {
  display: table;
  content: "";
}
.mainbar-form:after {
  clear: both;
}
.mainbar-form input,
.mainbar-form select,
.mainbar-form .radio,
.mainbar-form .checkbox {
  margin-top: 25px;
}
.mainbar-form input,
.mainbar-form select {
  display: inline-block;
  margin-bottom: 0;
}
.mainbar-form input[type="image"],
.mainbar-form input[type="checkbox"],
.mainbar-form input[type="radio"] {
  margin-top: 3px;
}
.mainbar-form .input-append,
.mainbar-form .input-prepend {
  margin-top: 6px;
  white-space: nowrap;
}
.mainbar-form .input-append input,
.mainbar-form .input-prepend input {
  margin-top: 0;
}
.mainbar-search {
  position: relative;
  float: left;
  margin-top: 26px;
  margin-bottom: 0;
}
.mainbar-search .search-query {
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  background-color: #fffefd;
  border: 1px solid #fad568;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.mainbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}
.mainbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}
.mainbar-search .search-query:focus,
.mainbar-search .search-query.focused {
  padding: 5px 10px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}
.mainbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.mainbar .nav.pull-right {
  float: right;
}
.mainbar .nav > li {
  display: block;
  float: left;
}
.mainbar .nav > li > a {
  float: none;
  padding: 5px 10px 5px 11px;
  line-height: 19px;
  color: #ccc;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-top:#2D2D2D 2px solid;
}
.mainbar .nav > li > a:hover {
  background-color:#666;
  border-top:#666 2px solid;
  color: #ffffff;
  text-decoration: none;
}
.mainbar .nav .active > a,
.mainbar .nav .active > a:hover {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-top:#ca3d36 2px solid;
  background-color:#2D2D2D;
}
.mainbar .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #fbdc81;
  border-right: 1px solid #fff7c1;
}
.mainbar .nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
}
.mainbar .dropdown-menu {
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.mainbar .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.mainbar .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
.mainbar .nav .dropdown-toggle .caret,
.mainbar .nav .open.dropdown .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.mainbar .nav .active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.mainbar .nav .open > .dropdown-toggle,
.mainbar .nav .active > .dropdown-toggle,
.mainbar .nav .open.active > .dropdown-toggle {
  background-color: transparent;
}
.mainbar .nav .active > .dropdown-toggle:hover {
  color: #ffffff;
}
.mainbar .nav.pull-right .dropdown-menu,
.mainbar .nav .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
.mainbar .nav.pull-right .dropdown-menu:before,
.mainbar .nav .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px;
}
.mainbar .nav.pull-right .dropdown-menu:after,
.mainbar .nav .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}